.about-content {
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-text {
  width: 100%;
  max-width: 650px;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: justify;
  line-height: 1.4;
  font-size: 19px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background:rgba(255, 255, 255, 0.2);
}



.about-text h2{
  text-align: center;
}
.about-text > ul {
  list-style-type: none;
}
.about-text > ul > li {
  margin-bottom: 10px;
}
.typewriter {
  display: flex;
  align-items: center;
}
.typewriter-start {
  padding-right: 5px;
}

.typewriter-start i {
  background-color: #007cad;
}
.typewriter > p {
  margin: 0;
}

.typewriter-dots{
  background-color: #4a0086;

}
.textLink {
  color: #0be779;
  cursor: pointer;
}
.location-wrapper {
  display: flex;
  align-items: center;
  border-top: 1px solid white;
  width: 100%;
  padding-top: 30px;

  
}

.location-wrapper p{
  margin: 0;
  padding-left: 10px;

}
.skills-wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
  text-align: center;
  color: #fff;

}
.skills {
  position: relative;
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin: 0 auto;
  width: 90%;
  color: #fff;
}

.skills h2{
  text-align: center;
  

}
.skill-bar-wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background:rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  height: 30px;
  margin-bottom: 10px;
}
.skill-bar {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: 30px;
  background-color: #52ceff;

  border-radius: 2px 0px 0px 2px;
}



@media screen and (min-width: 960px) {
  .about-content {
    display: flex;
    justify-content: space-evenly;
  }
  .skill-name {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px 0px 0px 2px;
    left: 0;
    width: 80px;
    height: 30px;
    font-size: 12px;
    background-color: #007cad;
    font-weight: 600;
    color: white;
  }
}
@media screen and (max-width: 959px) and (min-width: 600px) {
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
    align-items: center;
 
  }

  .about-text{
    height: 100vh;
    margin-top: 50px;
  }
  .skill-name {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px 0px 0px 2px;
    left: 0;
    width: 80px;
    height: 30px;
    font-size: 12px;
    background-color: #007cad;
    font-weight: 600;
    color: white;
  }
}
@media screen and (max-width: 599px) {
  .about-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content:center;
    margin-top: 500px;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  .about-text{
    height: 100vh;
    margin-top: 50px;
  }

  .skills {
    height: 100vh;
    width: 100%;
  }

  .skills-wrapper h2{
    margin-top: 120px;

  }
  .skill-name {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px 0px 0px 2px;
    left: 0;
    width: 65px;
    height: 30px;
    font-size: 10px;
    background-color: #007cad;
    font-weight: 600;
    color: white;
  }
}

@media screen and (max-width: 400px) {
  .about-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content:center;
    margin-top: 500px;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  .about-text{
    height: 100vh;
  }
}
