.aboutme{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 5%;
    transition: 0.5s all;
    align-items: center;


}

.aboutme .left{
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background:rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4x 30px rgba(0, 0, 0, 0.685);

}

.aboutme .left p{
    font-size: 1.5rem;
    color: lightgray;
    text-align: center;
    margin-bottom: 1rem;
    width: 90%;


}

.aboutme h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    color:white;

}

.aboutme .right {
    width: 100%; 
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: space-around;
    gap: 0px;
    flex-wrap: wrap;

}




.react, .js, .python, .java, .php, .laravel, .html, .css {
    width: 20%;
    height: 100px;
    margin: 10px;
    background-position: center;
    transition: all 0.3s;
    padding: 1rem;
    border-radius: 12px;
    max-width: auto ;
    background-clip: border-box;
 

}



.react:hover, .js:hover, .python:hover, .java:hover, .php:hover, .laravel:hover, .html:hover, .css:hover {
    transform: scale(1.2);
    transition: all 0.3s;
    filter: grayscale(0%);

}

.react{
    background-image: url('../../public/react.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: verticalCarouselUp 4s infinite
}

.js{
    background-image: url('../../public/js.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: verticalCarouselUp 4s infinite

}

.python{
    background-image: url('../../public/python.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: verticalCarouselUp 4s infinite

}

.java{
    background-image: url('../../public/java.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: verticalCarouselUp 4s infinite

}

.php{
    background-image: url('../../public/php.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: verticalCarouselDown 4s infinite

}

.laravel{
    background-image: url('../../public/laravel.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: verticalCarouselDown 4s infinite

}

.html{
    background-image: url('../../public/html.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: verticalCarouselDown 4s infinite

}

.css{
    background-image: url('../../public/css.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: verticalCarouselDown 4s infinite

}

.stack{
    position: absolute;
    
}

.aboutme .left .stackP{
    margin-top: 1rem;
    text-align: center;
    box-shadow: 0 0 10px 0px white;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}


/*put the stack bottom right */

/* 

@keyframes verticalCarouselUp {
    0% {margin-top: 0;}
    50% {margin-top: -30%;}
    100% {margin-top: 0;}
}

@keyframes verticalCarouselDown {
    0% {margin-bottom: 0;}
    50% {margin-bottom: -30%;}
    100% {margin-bottom: 0;}
}
 */
