

.projects{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    margin-bottom: 0%;

    
}

.projects-title h1{
    text-align: center;
    width: 100%;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1%;
    margin-left: 0%;
    margin-top: 5%;
    background:rgba(255, 255, 255, 0.2);
    box-shadow: 0 4x 30px rgba(0, 0, 0, 0.685);

}

.projects-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;

}

.projects-left{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    margin-right: 0;
    align-items: center;
    justify-content: center;
    
}

.project-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    margin-top: 0%;
    margin: 20px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background:rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4x 30px rgba(0, 0, 0, 0.685);
    padding: 10px;

    transition: 0.2s;
    border-radius: 20px;

}

.project-card p{
    color: lightgray;
    margin-top: 20px;
    font-size: 1em;

}

.project-card:hover{
    opacity: 1;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 0 13px 15px 10px rgba(0, 0, 0, 0.4);

}

.project-card hr{
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    border: 1px solid rgba(17, 17, 197, 0.363);

}

.link-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.link-container img{
    position: absolute;
    right: 0;
    top: 0;
}

.link-container h1{
    font-size:1.2em ;
}



.project-icon{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    flex-direction: row;
    margin-top: 12px;

}

.project-icon img{
    width: 35px;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;

}

.project-icon a{
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    text-decoration: none;
    margin-right: 5%;
    margin-bottom: 1%;
    font-size: 1.2em;
    transition: 0.2s;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    
}

.projects-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 90%;

}

.project-info{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 0%;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
    
    
}

 .project-info iframe{
    width: 100% ;
    height: 100%;
    z-index: 0;
    overflow-y: hidden ;
    border: none;

} 




#bannerInicio{
    background-color: red;
}



.project-selected{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 0%;
    animation : fadeIn 1s;
    transition: 0.2s;
}

.project-selected:hover{
cursor: pointer;}

.selected {
    animation: selected 0.2s forwards;
    transition: 0.2s;
  }
  
  @keyframes selected {
    0% {
      transform: scale(1);
      
    }
    100% {
      transform: scale(1);
      background: rgba(0, 0, 0, 0.8);
    }
  }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }

    @media (max-width: 800px) {
        .projects-container{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            ;
        }

        .projects-title{
            margin-top: 20%;
            width: 100%;
        }
        .projects-left{
            width: 100%;
            margin-bottom: 10%;
            height: 100vh;
        }
        .projects-right{
            width: 100%;
            margin-bottom: 10%;
        }
        .project-card{
            width: 90%;
            margin-bottom: 10%;
        }
        .project-icon img{
            width: 25px;
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .project-icon a{
            margin-right: 2%;
            margin-bottom: 1%;
            font-size: 1em;
        }
        .project-card p{
            font-size: 0.8em;
        }
        .projects-title h1{
            font-size: 1.5em;
        }

        .projects-right{
            display: none;
        }
    }

    @media (max-width: 699px) {
        .projects-container{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            ;
        }

        .projects-title{
            margin-top: 20%;
            width: 100%;
        }
        .projects-left{
            width: 100%;
            margin-bottom: 10%;
            height: 100vh;
        }
        .projects-right{
            width: 100%;
            margin-bottom: 10%;
        }
        .project-card{
            width: 90%;
            margin-bottom: 10%;
        }
        .project-icon img{
            width: 25px;
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .project-icon a{
            margin-right: 2%;
            margin-bottom: 1%;
            font-size: 1em;
        }
        .project-card p{
            font-size: 0.8em;
        }
        .projects-title h1{
            font-size: 1.5em;
        }

        .projects-right{
            display: none;
        }
    }

    @media (max-width: 400px) {
        .projects-title{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 200px;
            
        }
    }

    
    @media (max-width: 376px) {
        .projects-title{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 300px;
            
        }

        .projects-container{
            margin-top: 50px;
        }
    }